footer{
    background:var(--primary-color);
    padding:10px;
    color:var(--background-color);
    text-align: center;
    font-size: var(--font-size-14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
footer p{
    margin: 10px 0;
    padding: 10px;
    font-family: var(--font-family-rubik);
}

footer .socials{
    display: flex;
    gap:20px;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.socials a{
    color: var(--background-color);
    font-size: var(--font-size-24);
    transition: 0.3s;
}